<mat-card class="card">
  <mat-card-header>
    <mat-card-title style="font-size: 1.5em;">Our films</mat-card-title>
  </mat-card-header>

  <mat-spinner *ngIf="!films" style="margin: 50% auto;"></mat-spinner>

  <mat-card-content *ngIf="films">

    <mat-selection-list #listSelectedFilms *ngIf="films"
      (selectionChange)="onSelection($event, listSelectedFilms.selectedOptions.selected)">
      <div class="films-header">
        <div mat-subheader>Films</div>
        <div>

          <button mat-icon-button matTooltip="Add film">
            <mat-icon routerLink='/addFilm' color="primary">add_circle</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Edit film" [disabled]="!(isAnySelection())">
            <mat-icon [routerLink]="['/editFilm', selectedFilm.id]" *ngIf="isAnySelection()" color="primary">
              create
            </mat-icon>
            <mat-icon *ngIf="!isAnySelection()">create</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Delete films" [disabled]="!(isAnySelection())" (click)="deleteFilms()">
            <mat-icon *ngIf="isAnySelection()" color="primary">delete</mat-icon>
            <mat-icon *ngIf="!isAnySelection()">delete</mat-icon>
          </button>
        </div>
      </div>

      <mat-list-option *ngFor="let film of films" class="full-width" [value]="film">
        <div mat-line>{{film.name}} <span style="font-size: 0.8em;">{{getFilmStatus(film)}}</span> </div>
        <div mat-line style="font-size: 0.75em;"> {{film.genre}} </div>
        <mat-divider></mat-divider>
      </mat-list-option>

    </mat-selection-list>
  </mat-card-content>
</mat-card>